<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<div>
    <% if current_user != nil %>
      <div>
        <form action="/insert_photo" method="post" enctype="multipart/form-data">
          <div>
            <label for="image">
              Image
            </label>
            <input type="file" id="image" name="query_image">

            <input type="hidden" id="owner_id" name="query_owner_id" value=<%= current_user.id %>>

            <label for="caption_box">
              Caption
            </label>

            <textarea id="caption_box" name="query_caption" placeholder = "Enter a caption for the photo" rows="3"></textarea>

          <button>
            Add photo
          </button>
        </form>
      </div>
    <% end %>

</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
          Info
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
        <% if !(a_photo.poster.private) %>
          <tr>
            <td>
              <!-- <%= a_photo.image_url %> -->
              <img src="<%= a_photo.image_url %>" width="100" height="100" >
            </td>

            <td>
              <%= a_photo.caption %>
            </td>

            <td>
              <%= a_photo.poster.username %>
            </td>

            <td>
              <%= time_ago_in_words(a_photo.created_at) %> ago
            </td>

            <td>
              <%= a_photo.likes_count %>
            </td>

            <td>
              <a href="/photos/<%= a_photo.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>
